<div class="backdrop" (click)="onCancel()"></div>
<app-custom-dialog>
  <h2>Add a new Ingredient</h2>
  <form>
    <p>
      <label for="title"> Ingredient Name </label>
      <input type="text" name="title" id="title" [(ngModel)]="enteredName" />
    </p>
    <p class="actions">
      <button class="cancelButton" type="button" (click)="onCancel()">
        Cancel
      </button>
      <button type="button" (click)="onSubmit()">
        Add ingredient to inventory
      </button>
    </p>
  </form>
  <h2>Currently Available Ingredients</h2>

  @for(ingredient of ingredients; track ingredient._id){
  <div class="ingredient">
    <span>{{ ingredient.title }}</span>

    <button
      class="deleteButton"
      type="button"
      style="margin-left: auto"
      (click)="deleteIngredient(ingredient)"
    >
      Remove
    </button>
  </div>
  }
</app-custom-dialog>
