.menuItem{
    margin-bottom: 1rem;
    background-color:rgb(255, 249, 241);
    border-radius: 15px;
    padding: 1rem;
}

h3{

    margin: .5rem;
  
}
h4{
    margin: .5rem;
    margin-left: auto;
 
}