<header>Virtual Bar Tender App</header>
<main>
  <button (click)="onMenuAction(true, false)" id="menuButton">
    Make An Order
  </button>
  <button (click)="viewingOrders(true)" id="OrdersButton">View Orders</button>
  <!--User selects to view menu-->
  @if(isViewingMenu){
  <app-menu
    [admin]="adminIsViewingMenu"
    (close)="onMenuAction(false, false)"
  ></app-menu>
  }
  <!--User selects to view current orders-->
  @if(isViewingOrders){
  <app-orders
    (close)="viewingOrders(false)"
    (isAddingNewDrink)="addingNewDrink(true)"
    (adminIsViewingMenu)="onMenuAction(true, true)"
  ></app-orders>
  }
  <!--User selects to add a new drink to the menu-->
  @if(isViewingAddNewDrink){
  <app-new-drink
    (close)="addingNewDrink(false)"
    (isAddingNewIngredient)="addingNewIngredient(true)"
  ></app-new-drink>
  }
  <!--User selects to add a new ingredient to use in drinks-->
  @if(isViewingAddNewIngredient){
  <app-new-ingredient (close)="addingNewIngredient(false)"></app-new-ingredient>
  }
</main>
