<div class="backdrop" (click)="onCancel()"></div>
<app-custom-dialog>
  <h2>Add a new Drink!</h2>
  <form>
    <p>
      <label for="name"> New Drinks Name </label>
      <input type="text" name="name" id="name" [(ngModel)]="enteredName" />
    </p>
    <p>
      <label for="cost"> Cost: </label>
      <input type="text" name="cost" id="cost" [(ngModel)]="enteredCost" />
    </p>
    <ul>
      <h2>Ingredients required for drink.</h2>
      @for(ingredient of drinkIngredients; track ingredient._id){
      <li>
        {{ ingredient.title }}
      </li>
      }
    </ul>
    <p class="actions">
      <button class="cancelButton" type="button" (click)="onCancel()">
        Cancel
      </button>
      <button type="button" (click)="onSubmit()">Add Drink</button>
    </p>
    <h2>Ingredients in inventory</h2>

    <ul>
      @for(ingredient of ingredients; track ingredient._id){
      <li>
        <button type="button" (click)="addIngredient(ingredient)">
          Add {{ ingredient.title }}
        </button>
        <button
          class="deleteButton"
          type="button"
          (click)="deleteIngredient(ingredient)"
        >
          Remove
        </button>
      </li>
      }
    </ul>
    <button type="button" (click)="addingNewIngredient()">
      Add a new Ingredient
    </button>
  </form>
</app-custom-dialog>
